@font-face {
    font-family: 'eczarmedium';
    src: url('./font/eczar-medium-webfont.woff2') format('woff2'),
         url('./font/eczar-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family:'eczarmedium', sans-serif;
    line-height: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(./images/minku-kang.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%;
    display: flex;
}

.sign-up-container {
    width: 65%;
}

.sign-up {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    width: 200px;
    margin: 10px 50px;
}

label{
    color:rgb(60, 60, 60);
}

input{
    padding-left: 8px;
    height: 2rem;
    border-radius: 3px;
}

input, label{
    width: 200px;
    flex-shrink: 0;
    font-size: 12px;
    font-family: 'eczarmedium', sans-serif;
}

.sign-up-heading{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    margin-left: 50px;
}


fieldset{
    border: none;
    background-color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 40px 0px;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-family: 'eczarmedium', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 200px;
    padding: 20px;

    line-height: 1;
    color: white;
    /* background-color: hsla(0, 0%, 0%, 0.3); */
}

.credit, .credit a{
    color: white;
}

.credit{
    text-align: center;
    margin-bottom: 16px;
}

.logo-and-credit{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-account-button{
    width: 180px;
    margin: 35px 60px;

    background-color: rgb(50, 50, 50);
    padding: 10px 10px;
    border: 1px solid aliceblue;
    border-radius: 8px;
    font-family: 'eczarmedium', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.descriptions{
    margin: 20px 50px;
}

.descriptions div{
    font-size: 24px;
    margin: 20px 0px;
    line-height: 1.2;
}

input:focus{
    outline: none;
    border: none;
    border: 2px solid rgb(28, 116, 187);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}

input:invalid:focus{
    outline: none;
    border: none;
    border: 2px solid rgb(255, 72, 72);
    border-radius: 3px;
}